@import "src/assets/_variables.scss";

details {
    user-select: none;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
   
    .details-content {
        padding: 25px 20px;
        background-color: coral;

        opacity: 0.1;        
        transform: translate(0, -100%);

        transition: transform 1s ease, opacity 1s ease;

    }

    summary {
        background-color: $main-color;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;

        &::marker {
            display: none;
            font-size: 0;
        }

        &::after {
            content: "<";
            rotate: 0deg;
            transition: rotate 300ms ease;
            float: right;
        }
    }

    &[open] {

        

        .details-content {     

            opacity: 1;
            transform: translate(0, 0);
        
        }

        summary {
        }

        summary::after {
            rotate: -90deg;
        }
    }
}