@import "src/assets/_variables.scss";

header {
    nav {
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-weight: 500;
        font-size: 1.5rem;

        .nav-group {
            display: flex;
            gap: 57px;

            @media screen and (max-width: $small) {
                // flex-direction: column;
                gap: 8px;
            }
        }

        a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        a.active {
            text-decoration: underline;
        }

        img {
            height: 4rem;
            color: $main-color !important;
            fill: $main-color !important;
            filter: invert(71%) sepia(75%) saturate(4726%) hue-rotate(323deg) brightness(100%) contrast(110%);
        }
    }
}