@import "src/assets/_variables.scss";

.profileBadge {
    display: flex;

    color: $main-color;
    font-size: 1.18rem;
    font-weight: 500;
    text-align: end;
    word-spacing: 100vw;
    justify-content: flex-end;

    gap: 10px;

    img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 64px;
    }
}