.profileBadge {
    display: flex;

    color: var(--main-color);
    font-size: 1.18rem;
    font-weight: 500;
    text-align: end;
    word-spacing: 100vw;

    gap: 10px;

    img {
        height: 64px;
        border-radius: 64px;
    }
}