.tags {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    padding-inline-start: 0px;
    margin: 0;

    li {
        background-color: var(--main-color);
        padding: 10px 30px;
        color: white;
        font-weight: 700;
        border-radius: 10px;
    }
}