@import "src/assets/_variables.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  font-family: "Montserrat", sans-serif;

  --main-color: #FF6060;
}

* {
  transition: all 300ms ease;
  // transition-behavior: allow-discrete;
}

body {
  margin: 0;
}

hr {
  margin-top: 1px solid $secondary-color;
  width: 100%;
}

main {
  margin: 50px 100px;
  gap: 50px;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: $medium) {
    margin: 20px 40px;
  }
  @media screen and (max-width: $small) {
    margin: 20px;
  }
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

main {
  min-height: 83vh;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding: 50px;
  margin-top: 50px;
  border-radius: 25px;
  background-color: $secondary-color;

  @media screen and (max-width: $medium) {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  @media screen and (max-width: $small) {
    grid-template-columns: 1fr;
    background-color: transparent;
    padding: 0;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 140px;
  padding: 140px 0;

  h1 {
    margin: 0;
    font-size: 16rem;
    font-weight: 700;
    color: $main-color;
  }
  h2 {
    margin: 0;
    font-size: 2.2rem;
    text-align: center;
    color: $main-color;
  }
  a {
    font-size: 1.18rem;
    color: black;
  }
}

.rental-container {

  display: flex;
  flex-direction: column;
  gap: 25px;
 
  .rental-title {
    margin: 1rem 0;
    h1 {
      font-size: 2.2rem;
      font-weight: 500;
      color: $main-color;
      margin: 0;
    }
    span {
      font-size: 1.18rem;
      font-weight: 500;
    }
  }

  .rental-infos {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;

    @media screen and (max-width: $small) {
      grid-template-columns: 1fr;

      .rental-infos-2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
      }
    }

    
  }

  .rental-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.5rem;

    min-height: 20rem;

    @media screen and (max-width: $small) {
      grid-template-columns: 1fr;
      min-height: unset;
      gap: 2.5rem;
    }
  }

}

.form-container {
  background-color: $secondary-color;
  border-radius: 25px;
  padding: 50px;
  
  h1 {
    text-align: center;
  }
  h3 {
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      border-radius: 10px;
      padding: 10px;
      border: 1px solid #00000050;
      font-size: 1.25rem;

      &[type="submit"] {
        user-select: none;
        background-color: $main-color;
        border: 0;
        color: white;
        font-weight: 700;
      }
    }

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  input[type="range"] {
    appearance: none; 
    width: 80%;
    margin-left: auto;
    cursor: pointer;
    outline: none;
    
    overflow: hidden;
    border-radius: 32px;

    padding: 0;
  
    &::-webkit-slider-thumb {
      appearance: none; 
      /* creating a custom design */
      height: 24px;
      width: 24px;
      background-color: #fff;
      border-radius: 50%;
      border: 6px solid $main-color;
      /*  slider progress trick  */
      box-shadow: -600px 0 0 588px $main-color;
    }
  }

}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  html { font-size: 90%; }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  html { font-size: 65%; }
}