@import "src/assets/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  --main-color: #FF6060;
}

* {
  transition: all 300ms ease;
  // transition-behavior: allow-discrete;
}

body {
  margin: 0;
}

hr {
  margin-top: 1px solid $secondary-color;
  width: 100%;
}

main {
  margin: 50px 100px;
  gap: 50px;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: $medium) {
    margin: 20px 40px;
  }
  @media screen and (max-width: $small) {
    margin: 20px;
  }
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

main {
  min-height: calc(100vh - 6rem);
}


.form-container {
  background-color: $secondary-color;
  border-radius: 25px;
  padding: 50px;
  
  h1 {
    text-align: center;
  }
  h3 {
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      border-radius: 10px;
      padding: 10px;
      border: 1px solid #00000050;
      font-size: 1.25rem;

      &[type="submit"] {
        user-select: none;
        background-color: $main-color;
        border: 0;
        color: white;
        font-weight: 700;
      }
    }

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  input[type="range"] {
    appearance: none; 
    width: 80%;
    margin-left: auto;
    cursor: pointer;
    outline: none;
    
    overflow: hidden;
    border-radius: 32px;

    padding: 0;
  
    &::-webkit-slider-thumb {
      appearance: none; 
      /* creating a custom design */
      height: 24px;
      width: 24px;
      background-color: #fff;
      border-radius: 50%;
      border: 6px solid $main-color;
      /*  slider progress trick  */
      box-shadow: -600px 0 0 588px $main-color;
    }
  }

}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  html { font-size: 90%; }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  html { font-size: 65%; }
}